<!DOCTYPE html>
<html lang="en">
  <!-- header -->
  <%- include('layouts/head'); -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/hero.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>G2</h1>
              <span class="subheading">Have questions? I have answers.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>
              Want to get in touch? Fill out the form below to send me a message
              and I will get back to you as soon as possible!
            </p>
            <div class="my-5">
              <form
                id="contactForm"
                data-sb-form-api-token="API_TOKEN"
                method="POST"
                action="/user/update/g2"
              >
                <h1>Personal Details</h1>
                <div class="form-floating">
                  <input class="form-control" id="Fname" type="text"
                  placeholder="Enter your name..."
                  data-sb-validations="required" name="firstname" <%
                  if(user.firstname != "default") { %><% %> value = <%= user.firstname %> <% %> <% } %> />
                  <label for="Fname">First Name</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A name is required.
                  </div>
                </div>
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="Lname"
                    type="text"
                    placeholder="Enter your name..."
                    data-sb-validations="required"
                    name="lastname"
                    <%
                  if(user.lastname != "default") { %><% %> value = <%= user.lastname %> <% %> <% } %>
                  />
                  <label for="Lname">Last Name</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A name is required.
                  </div>
                </div>

                <div class="form-floating">
                  <input
                    class="form-control"
                    id="License_Number"
                    type="text"
                    placeholder="Enter your License Number..."
                    data-sb-validations="required"
                    name="License_No"
                    <%
                  if(user.License_No != "default") { %><% %> value = <%= user.License_No %> <% %> <% } %>
                  />
                  <label for="License_Number">License Number</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A License Number is required.
                  </div>
                </div>
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="Age"
                    type="number"
                    placeholder="Enter your Age..."
                    data-sb-validations="required"
                    min="18"
                    name="Age"
                    <%
                  if(user.Age != 0) { %><% %> value = <%= user.Age %> <% %> <% } %>
                  />
                  <label for="Age">Age</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    An Age is required.
                  </div>
                </div>

                <br />
                <h1>Car Details</h1>
                <br />
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="License_Number"
                    type="text"
                    placeholder="Enter your License Number..."
                    data-sb-validations="required"
                    name="manufacturer"
                    <%
                  if(user.car_details.manufacturer != "default") { %><% %> value = <%= user.car_details.manufacturer %> <% %> <% } %>
                  />
                  <label for="Manufacturer">Manufacturer</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A Manufacturer is required.
                  </div>
                </div>

                <div class="form-floating">
                  <input
                    class="form-control"
                    id="Model"
                    type="text"
                    placeholder="Enter your License Number..."
                    data-sb-validations="required"
                    name="model"
                    <%
                  if(user.car_details.model != "default") { %><% %> value = <%= user.car_details.model %> <% %> <% } %>
                  />
                  <label for="Model">Model</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A Model is required.
                  </div>
                </div>
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="M_year"
                    placeholder="Enter your Model..."
                    type="number"
                    min="1900"
                    max="2099"
                    step="1"
                    value="2016"
                    data-sb-validations="required"
                    name="year"
                    <%
                  if(user.car_details.year != 0) { %><% %> value = <%= user.car_details.year %> <% %> <% } %>
                  />
                  <label for="M_year">year</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A year is required.
                  </div>
                </div>
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="plate"
                    type="text"
                    placeholder="Enter your plate Number..."
                    data-sb-validations="required"
                    name="plate_no"
                    <%
                  if(user.car_details.plate_no != "default") { %><% %> value = <%= user.firstname %> <% %> <% } %>
                  />
                  <label for="plate">Plate number</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A Plate number is required.
                  </div>
                </div>
                <br />

                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                  <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                  </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                  <div class="text-center text-danger mb-3">
                    Error sending message!
                  </div>
                </div>
                <!-- Submit Button-->
                <button
                  class="btn btn-primary text-uppercase"
                  id="submitButton"
                  type="submit"
                >
                  Send
                </button>
              </form>
            </div>
            <h1>Book your appointment</h1>
            <div id="appointmentFormContainer">
              <form
                action="/bookAppointment"
                method="POST"
                id="appointmentSlotsCreatingForm"
              >
                <label for="dateInput">Enter a date:</label>
        
                <input type="date" id="dateInput" name="date" class="form-control" />
                <label for="timeslotOption" class="form-label">Time Slot</label>
                <select id="timeSlotSelect" class="form-control" name="time">
                  <option value="">Select a time slot</option>
                </select>
                <br />
                <!-- Submit Button-->
                <div id="submit-button">
                  <button
                    class="btn btn-primary text-uppercase"
                    id="submitButton"
                    type="submit"
                  >
                    Book an appointment
                  </button>
                </div>
              </form>
        
              <script>

                //setting the minimum date to current
                const dateInput = document.querySelector("#dateInput");
                const currentDate = new Date().toISOString().split("T")[0];
                dateInput.min = currentDate;
                
                const timeSlotSelect = document.querySelector("#timeSlotSelect");
                const allTimeSlots = [
                  "09:00",
                  "10:00",
                  "11:00",
                  "12:00",
                  "13:00",
                  "14:00",
                  "15:00",
                  "16:00",
                ];
        
                dateInput.addEventListener("change", (event) => {
                  const date = dateInput.value;
                  // Remove all options except the first one
                  const options = timeSlotSelect.querySelectorAll("option");
                  options.forEach((option) => {
                    if (option.value !== "") {
                      option.remove();
                    }
                  });
        
                  fetch(`/apointments/withdate?date=${date}`)
                    .then((response) => response.json())
                    .then((data) => {
                      console.log(date);
                      console.log(data);
        
                      const availableTimeSlots = Object.values(data)
                      .filter((item) => item.isTimeSlotAvailable)
                      .map((item) => item.time);

                      console.log(availableTimeSlots);

                      availableTimeSlots.forEach((timeSlot) => {
                      const option = document.createElement("option");
                      option.value = timeSlot;
                      option.text = timeSlot;
                      timeSlotSelect.appendChild(option);
    });
                    })
                    .catch((error) => {
                      console.error(error);
                    });
                });
        
                const form = document.querySelector("#appointmentSlotsCreatingForm");
                
              </script>
            </div>
            

          </div>
        </div>
        
      </div>

      
    </main>
    <!-- Footer-->
    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
